@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Dungeon';
  src: url('/fonts/dungeon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sink';
  src: url('/fonts/sink.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Sink', monospace;
  }
}